In [1]:
a,b,c=3,3.5,"ML"

In [8]:
print("value of a = ",a)
print("Address of a = ",id(a))
print("Type of a = ",type(a))

value of a =  3
Address of a =  94729085453248
Type of a =  <class 'int'>

In [5]:
print(id(a)==id(b))

False

In [19]:
m=1+2j
print(id(m))
print(type(m))
print(isinstance(m,complex))

139750860501936
<class 'complex'>
True

In [18]:
a="This is Machine learning"
print(a)
print(type(a))
print(id(a))
print(isinstance(a,str))

This is Machine learning
<class 'str'>
139750859588192
True

In [21]:
b="""Hello world!
This is Parth Dodiya :)"""
print(b)
print(type(b),id(b),isinstance(b,str))

Hello world!
This is Parth Dodiya :)
<class 'str'> 139750911766088 True

In [50]:
a="This is Machine learning"
print(a[2])
print(a[-1],a[-2])
print(len(a))
print(a[len(a)-1],a[-1])

i
g n
24
g g

In [51]:
print(a[2:])
print(a[:2])
print(type(a))

is is Machine learning
Th
<class 'str'>

In [52]:
#LIST
a=[2,3.5,"ML"]
print(a)
a[1]=5.55
print(a,type(a))

[2, 3.5, 'ML']
[2, 5.55, 'ML'] <class 'list'>

In [53]:
#TUPLE
b=(2,3.4,"ML")
print(b)
print(type(b))

(2, 3.4, 'ML')
<class 'tuple'>

In [54]:
#SET
s={2,5,6,"ML",5,5,5,5,5}
print(s,type(s))

{'ML', 2, 5, 6} <class 'set'>

In [56]:
#DICTIONARY
d={'a':"LOL",5:"Tara rara"}
print(d)
print(type(d),id(d),isinstance(d,dict))
print(d[5])

{'a': 'LOL', 5: 'Tara rara'}
<class 'dict'> 139750860143712 True
Tara rara

In [57]:
# List to set
a=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
print(a,type(a),id(a))
s=set(a)
print(s,type(s),id(s))

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5] <class 'list'> 139750859642504
{1, 2, 3, 4, 5} <class 'set'> 139750860454824

In [60]:
# str to List
list("Hello")

['H', 'e', 'l', 'l', 'o']